flows.json
[{"id":"8b90473a.b3c068","type":"tab","label":"CAN MQTT wiring","disabled":false,"info":"Flow to rewire the /CAN mqtt messages \nto something more human readable"},{"id":"58b638d7.7e4108","type":"tab","label":"Power Hub 1 MQTT rewiring","disabled":false,"info":""},{"id":"7c29be25.85c4d","type":"mqtt-broker","z":"","name":"Felicia","broker":"localhost","port":"1883","clientid":"node-red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b9444cf6.2c456","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4f37a7b4.366548","type":"ui_tab","z":"","name":"Lab","icon":"dashboard"},{"id":"7191963e.60699","type":"ui_group","z":"","name":"Leiste 1","tab":"4f37a7b4.366548","disp":true,"width":"6","collapse":false},{"id":"f6212fe8.fc738","type":"mpd-server","z":"","host":"localhost","port":"6600"},{"id":"c904e3f4.4f47f","type":"ui_group","z":"","name":"Leiste 2","tab":"4f37a7b4.366548","disp":true,"width":"6","collapse":false},{"id":"3b53f76c.ef6318","type":"ui_group","z":"","name":"Leiste 3","tab":"4f37a7b4.366548","disp":true,"width":"6","collapse":false},{"id":"c4f6d490.902f88","type":"ui_group","z":"","name":"Leiste 4","tab":"4f37a7b4.366548","disp":true,"width":"6","collapse":false},{"id":"c496f163.8204c","type":"ui_group","z":"","name":"Leiste 5","tab":"4f37a7b4.366548","disp":true,"width":"6","collapse":false},{"id":"298f3d50.a8fdd2","type":"ui_group","z":"","name":"Lab Control","tab":"4f37a7b4.366548","disp":true,"width":"6","collapse":false},{"id":"9fc920f9.10f2e","type":"mqtt in","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste01/Dose01/stat/power","topic":"/FLKA/Steckdosen/Leiste01/Dose01/stat/power","qos":"2","broker":"7c29be25.85c4d","x":300,"y":100,"wires":[["564f710b.90cbc"]]},{"id":"564f710b.90cbc","type":"ui_switch","z":"8b90473a.b3c068","name":"","label":"Dose 1","group":"7191963e.60699","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":680,"y":100,"wires":[["d82f636c.aa139"]]},{"id":"d82f636c.aa139","type":"mqtt out","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste01/Dose01/cmd/power","topic":"/FLKA/Steckdosen/Leiste01/Dose01/cmd/power","qos":"","retain":"","broker":"7c29be25.85c4d","x":1060,"y":100,"wires":[]},{"id":"984eac1a.d18b9","type":"mqtt in","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste01/Dose02/stat/power","topic":"/FLKA/Steckdosen/Leiste01/Dose02/stat/power","qos":"2","broker":"7c29be25.85c4d","x":300,"y":160,"wires":[["ef0a7289.c0b2a"]]},{"id":"ef0a7289.c0b2a","type":"ui_switch","z":"8b90473a.b3c068","name":"","label":"Dose 2","group":"7191963e.60699","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":680,"y":160,"wires":[["b73b760.8b4f888"]]},{"id":"b73b760.8b4f888","type":"mqtt out","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste01/Dose02/cmd/power","topic":"/FLKA/Steckdosen/Leiste01/Dose02/cmd/power","qos":"","retain":"","broker":"7c29be25.85c4d","x":1060,"y":160,"wires":[]},{"id":"c2b94cc9.155f8","type":"mqtt in","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste01/Dose02/stat/power","topic":"/FLKA/Steckdosen/Leiste01/Dose02/stat/power","qos":"2","broker":"7c29be25.85c4d","x":300,"y":220,"wires":[["5a0ddd3e.d99ec4"]]},{"id":"5a0ddd3e.d99ec4","type":"ui_switch","z":"8b90473a.b3c068","name":"","label":"Dose 3","group":"7191963e.60699","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":680,"y":220,"wires":[["f341394c.215708"]]},{"id":"f341394c.215708","type":"mqtt out","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste01/Dose03/cmd/power","topic":"/FLKA/Steckdosen/Leiste01/Dose03/cmd/power","qos":"","retain":"","broker":"7c29be25.85c4d","x":1060,"y":220,"wires":[]},{"id":"faaa2d2.f7babd","type":"mqtt in","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste01/Dose02/stat/power","topic":"/FLKA/Steckdosen/Leiste01/Dose02/stat/power","qos":"2","broker":"7c29be25.85c4d","x":300,"y":280,"wires":[["c7bd014a.a0279"]]},{"id":"c7bd014a.a0279","type":"ui_switch","z":"8b90473a.b3c068","name":"","label":"Dose 4","group":"7191963e.60699","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":680,"y":280,"wires":[["a0a7fc3a.4ef4f"]]},{"id":"a0a7fc3a.4ef4f","type":"mqtt out","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste01/Dose04/cmd/power","topic":"/FLKA/Steckdosen/Leiste01/Dose04/cmd/power","qos":"","retain":"","broker":"7c29be25.85c4d","x":1060,"y":280,"wires":[]},{"id":"43192539.d50acc","type":"mqtt in","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste01/Dose02/stat/power","topic":"/FLKA/Steckdosen/Leiste01/Dose02/stat/power","qos":"2","broker":"7c29be25.85c4d","x":300,"y":340,"wires":[["8e4b2dd6.4a414"]]},{"id":"8e4b2dd6.4a414","type":"ui_switch","z":"8b90473a.b3c068","name":"","label":"Dose 5","group":"7191963e.60699","order":6,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":680,"y":340,"wires":[["52b33c38.78be94"]]},{"id":"52b33c38.78be94","type":"mqtt out","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste01/Dose05/cmd/power","topic":"/FLKA/Steckdosen/Leiste01/Dose05/cmd/power","qos":"","retain":"","broker":"7c29be25.85c4d","x":1060,"y":340,"wires":[]},{"id":"99a427cc.67e948","type":"mqtt in","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste01/Dose02/stat/power","topic":"/FLKA/Steckdosen/Leiste01/Dose02/stat/power","qos":"2","broker":"7c29be25.85c4d","x":300,"y":400,"wires":[["57472459.63f0cc"]]},{"id":"57472459.63f0cc","type":"ui_switch","z":"8b90473a.b3c068","name":"","label":"Dose 6","group":"7191963e.60699","order":7,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":680,"y":400,"wires":[["2ba1a509.10f58a"]]},{"id":"2ba1a509.10f58a","type":"mqtt out","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste01/Dose06/cmd/power","topic":"/FLKA/Steckdosen/Leiste01/Dose06/cmd/power","qos":"","retain":"","broker":"7c29be25.85c4d","x":1060,"y":400,"wires":[]},{"id":"97b2aa38.d10768","type":"mqtt in","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste02/Dose01/stat/power","topic":"/FLKA/Steckdosen/Leiste02/Dose01/stat/power","qos":"2","broker":"7c29be25.85c4d","x":300,"y":540,"wires":[["5b099176.95a04"]]},{"id":"5b099176.95a04","type":"ui_switch","z":"8b90473a.b3c068","name":"","label":"Dose 1","group":"c904e3f4.4f47f","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":680,"y":540,"wires":[["eca32023.9231"]]},{"id":"eca32023.9231","type":"mqtt out","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste02/Dose01/cmd/power","topic":"/FLKA/Steckdosen/Leiste02/Dose01/cmd/power","qos":"","retain":"","broker":"7c29be25.85c4d","x":1060,"y":540,"wires":[]},{"id":"5aacd595.ef7fac","type":"mqtt in","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste02/Dose02/stat/power","topic":"/FLKA/Steckdosen/Leiste02/Dose02/stat/power","qos":"2","broker":"7c29be25.85c4d","x":300,"y":600,"wires":[["96530c27.ffa58"]]},{"id":"96530c27.ffa58","type":"ui_switch","z":"8b90473a.b3c068","name":"","label":"Dose 2","group":"c904e3f4.4f47f","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":680,"y":600,"wires":[["b10357a6.e23bc8"]]},{"id":"b10357a6.e23bc8","type":"mqtt out","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste02/Dose02/cmd/power","topic":"/FLKA/Steckdosen/Leiste02/Dose02/cmd/power","qos":"","retain":"","broker":"7c29be25.85c4d","x":1060,"y":600,"wires":[]},{"id":"49341f5e.4b70e","type":"mqtt in","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste02/Dose02/stat/power","topic":"/FLKA/Steckdosen/Leiste02/Dose02/stat/power","qos":"2","broker":"7c29be25.85c4d","x":300,"y":660,"wires":[["5b8ccf7b.ba53d"]]},{"id":"5b8ccf7b.ba53d","type":"ui_switch","z":"8b90473a.b3c068","name":"","label":"Dose 3","group":"c904e3f4.4f47f","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":680,"y":660,"wires":[["8301c7d7.c5ff38"]]},{"id":"8301c7d7.c5ff38","type":"mqtt out","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste02/Dose03/cmd/power","topic":"/FLKA/Steckdosen/Leiste02/Dose03/cmd/power","qos":"","retain":"","broker":"7c29be25.85c4d","x":1060,"y":660,"wires":[]},{"id":"46b383b9.02fbec","type":"mqtt in","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste02/Dose02/stat/power","topic":"/FLKA/Steckdosen/Leiste02/Dose02/stat/power","qos":"2","broker":"7c29be25.85c4d","x":300,"y":720,"wires":[["6c24680.bde2f98"]]},{"id":"6c24680.bde2f98","type":"ui_switch","z":"8b90473a.b3c068","name":"","label":"Dose 4","group":"c904e3f4.4f47f","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":680,"y":720,"wires":[["17ee1337.207fdd"]]},{"id":"17ee1337.207fdd","type":"mqtt out","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste02/Dose04/cmd/power","topic":"/FLKA/Steckdosen/Leiste02/Dose04/cmd/power","qos":"","retain":"","broker":"7c29be25.85c4d","x":1060,"y":720,"wires":[]},{"id":"43fc9b69.a41ed4","type":"mqtt in","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste02/Dose02/stat/power","topic":"/FLKA/Steckdosen/Leiste02/Dose02/stat/power","qos":"2","broker":"7c29be25.85c4d","x":300,"y":780,"wires":[["4664622f.95acec"]]},{"id":"4664622f.95acec","type":"ui_switch","z":"8b90473a.b3c068","name":"","label":"Dose 5","group":"c904e3f4.4f47f","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":680,"y":780,"wires":[["711cbfa9.c1b6b"]]},{"id":"711cbfa9.c1b6b","type":"mqtt out","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste02/Dose05/cmd/power","topic":"/FLKA/Steckdosen/Leiste02/Dose05/cmd/power","qos":"","retain":"","broker":"7c29be25.85c4d","x":1060,"y":780,"wires":[]},{"id":"20dbd12a.41bbae","type":"mqtt in","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste02/Dose02/stat/power","topic":"/FLKA/Steckdosen/Leiste02/Dose02/stat/power","qos":"2","broker":"7c29be25.85c4d","x":300,"y":840,"wires":[["31c25d06.51b702"]]},{"id":"31c25d06.51b702","type":"ui_switch","z":"8b90473a.b3c068","name":"","label":"Dose 6","group":"c904e3f4.4f47f","order":6,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":680,"y":840,"wires":[["4bd495f.7865b6c"]]},{"id":"4bd495f.7865b6c","type":"mqtt out","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste02/Dose06/cmd/power","topic":"/FLKA/Steckdosen/Leiste02/Dose06/cmd/power","qos":"","retain":"","broker":"7c29be25.85c4d","x":1060,"y":840,"wires":[]},{"id":"c4ac48ae.50c188","type":"mqtt in","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste03/Dose01/stat/power","topic":"/FLKA/Steckdosen/Leiste03/Dose01/stat/power","qos":"2","broker":"7c29be25.85c4d","x":300,"y":960,"wires":[["652f28be.d729b8"]]},{"id":"652f28be.d729b8","type":"ui_switch","z":"8b90473a.b3c068","name":"","label":"Dose 1","group":"3b53f76c.ef6318","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":680,"y":960,"wires":[["44dd9c3.01d3e64"]]},{"id":"44dd9c3.01d3e64","type":"mqtt out","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste03/Dose01/cmd/power","topic":"/FLKA/Steckdosen/Leiste03/Dose01/cmd/power","qos":"","retain":"","broker":"7c29be25.85c4d","x":1060,"y":960,"wires":[]},{"id":"7ea99e51.6cd24","type":"mqtt in","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste03/Dose02/stat/power","topic":"/FLKA/Steckdosen/Leiste03/Dose02/stat/power","qos":"2","broker":"7c29be25.85c4d","x":300,"y":1020,"wires":[["6f7d2c5b.47b2a4"]]},{"id":"6f7d2c5b.47b2a4","type":"ui_switch","z":"8b90473a.b3c068","name":"","label":"Dose 2","group":"3b53f76c.ef6318","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":680,"y":1020,"wires":[["19bb2254.faab6e"]]},{"id":"19bb2254.faab6e","type":"mqtt out","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste03/Dose02/cmd/power","topic":"/FLKA/Steckdosen/Leiste03/Dose02/cmd/power","qos":"","retain":"","broker":"7c29be25.85c4d","x":1060,"y":1020,"wires":[]},{"id":"a6d677f6.b95108","type":"mqtt in","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste03/Dose02/stat/power","topic":"/FLKA/Steckdosen/Leiste03/Dose02/stat/power","qos":"2","broker":"7c29be25.85c4d","x":300,"y":1080,"wires":[["98499e15.38ea4"]]},{"id":"98499e15.38ea4","type":"ui_switch","z":"8b90473a.b3c068","name":"","label":"Dose 3","group":"3b53f76c.ef6318","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":680,"y":1080,"wires":[["19396e50.fa2102"]]},{"id":"19396e50.fa2102","type":"mqtt out","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste03/Dose03/cmd/power","topic":"/FLKA/Steckdosen/Leiste03/Dose03/cmd/power","qos":"","retain":"","broker":"7c29be25.85c4d","x":1060,"y":1080,"wires":[]},{"id":"629694b5.aa9d4c","type":"mqtt in","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste03/Dose02/stat/power","topic":"/FLKA/Steckdosen/Leiste03/Dose02/stat/power","qos":"2","broker":"7c29be25.85c4d","x":300,"y":1140,"wires":[["4a9c75fa.dea75c"]]},{"id":"4a9c75fa.dea75c","type":"ui_switch","z":"8b90473a.b3c068","name":"","label":"Dose 4","group":"3b53f76c.ef6318","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":680,"y":1140,"wires":[["9e349d79.dfab9"]]},{"id":"9e349d79.dfab9","type":"mqtt out","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste03/Dose04/cmd/power","topic":"/FLKA/Steckdosen/Leiste03/Dose04/cmd/power","qos":"","retain":"","broker":"7c29be25.85c4d","x":1060,"y":1140,"wires":[]},{"id":"a3894265.40ba7","type":"mqtt in","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste03/Dose02/stat/power","topic":"/FLKA/Steckdosen/Leiste03/Dose02/stat/power","qos":"2","broker":"7c29be25.85c4d","x":300,"y":1200,"wires":[["142373de.dd988c"]]},{"id":"142373de.dd988c","type":"ui_switch","z":"8b90473a.b3c068","name":"","label":"Dose 5","group":"3b53f76c.ef6318","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":680,"y":1200,"wires":[["6421f1f9.3e59c"]]},{"id":"6421f1f9.3e59c","type":"mqtt out","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste03/Dose05/cmd/power","topic":"/FLKA/Steckdosen/Leiste03/Dose05/cmd/power","qos":"","retain":"","broker":"7c29be25.85c4d","x":1060,"y":1200,"wires":[]},{"id":"7e7d8428.a219fc","type":"mqtt in","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste03/Dose02/stat/power","topic":"/FLKA/Steckdosen/Leiste03/Dose02/stat/power","qos":"2","broker":"7c29be25.85c4d","x":300,"y":1260,"wires":[["b6260ac4.e79178"]]},{"id":"b6260ac4.e79178","type":"ui_switch","z":"8b90473a.b3c068","name":"","label":"Dose 6","group":"3b53f76c.ef6318","order":6,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":680,"y":1260,"wires":[["c4c0170.7d17ce8"]]},{"id":"c4c0170.7d17ce8","type":"mqtt out","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste03/Dose06/cmd/power","topic":"/FLKA/Steckdosen/Leiste03/Dose06/cmd/power","qos":"","retain":"","broker":"7c29be25.85c4d","x":1060,"y":1260,"wires":[]},{"id":"5ee51335.c569ac","type":"mqtt in","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste04/Dose01/stat/power","topic":"/FLKA/Steckdosen/Leiste04/Dose01/stat/power","qos":"2","broker":"7c29be25.85c4d","x":300,"y":1380,"wires":[["bc8e4296.df822"]]},{"id":"bc8e4296.df822","type":"ui_switch","z":"8b90473a.b3c068","name":"","label":"Dose 1","group":"c4f6d490.902f88","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":680,"y":1380,"wires":[["2b76d771.662398"]]},{"id":"2b76d771.662398","type":"mqtt out","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste04/Dose01/cmd/power","topic":"/FLKA/Steckdosen/Leiste04/Dose01/cmd/power","qos":"","retain":"","broker":"7c29be25.85c4d","x":1060,"y":1380,"wires":[]},{"id":"1d866ae1.7f8705","type":"mqtt in","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste04/Dose02/stat/power","topic":"/FLKA/Steckdosen/Leiste04/Dose02/stat/power","qos":"2","broker":"7c29be25.85c4d","x":300,"y":1440,"wires":[["e31e9223.49293"]]},{"id":"e31e9223.49293","type":"ui_switch","z":"8b90473a.b3c068","name":"","label":"Dose 2","group":"c4f6d490.902f88","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":680,"y":1440,"wires":[["665bb149.ad126"]]},{"id":"665bb149.ad126","type":"mqtt out","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste04/Dose02/cmd/power","topic":"/FLKA/Steckdosen/Leiste04/Dose02/cmd/power","qos":"","retain":"","broker":"7c29be25.85c4d","x":1060,"y":1440,"wires":[]},{"id":"d9a1fead.8aa9d","type":"mqtt in","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste04/Dose02/stat/power","topic":"/FLKA/Steckdosen/Leiste04/Dose02/stat/power","qos":"2","broker":"7c29be25.85c4d","x":300,"y":1500,"wires":[["9d032e28.11f6e"]]},{"id":"9d032e28.11f6e","type":"ui_switch","z":"8b90473a.b3c068","name":"","label":"Dose 3","group":"c4f6d490.902f88","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":680,"y":1500,"wires":[["f33a5c20.9a6c4"]]},{"id":"f33a5c20.9a6c4","type":"mqtt out","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste04/Dose03/cmd/power","topic":"/FLKA/Steckdosen/Leiste04/Dose03/cmd/power","qos":"","retain":"","broker":"7c29be25.85c4d","x":1060,"y":1500,"wires":[]},{"id":"8490f665.60fcf8","type":"mqtt in","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste04/Dose02/stat/power","topic":"/FLKA/Steckdosen/Leiste04/Dose02/stat/power","qos":"2","broker":"7c29be25.85c4d","x":300,"y":1560,"wires":[["2669d6d8.25c43a"]]},{"id":"2669d6d8.25c43a","type":"ui_switch","z":"8b90473a.b3c068","name":"","label":"Dose 4","group":"c4f6d490.902f88","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":680,"y":1560,"wires":[["911353a4.c806"]]},{"id":"911353a4.c806","type":"mqtt out","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste04/Dose04/cmd/power","topic":"/FLKA/Steckdosen/Leiste04/Dose04/cmd/power","qos":"","retain":"","broker":"7c29be25.85c4d","x":1060,"y":1560,"wires":[]},{"id":"6ab057fc.ce42b8","type":"mqtt in","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste04/Dose02/stat/power","topic":"/FLKA/Steckdosen/Leiste04/Dose02/stat/power","qos":"2","broker":"7c29be25.85c4d","x":300,"y":1620,"wires":[["b99029b7.fb00b8"]]},{"id":"b99029b7.fb00b8","type":"ui_switch","z":"8b90473a.b3c068","name":"","label":"Dose 5","group":"c4f6d490.902f88","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":680,"y":1620,"wires":[["52cf8c04.07db44"]]},{"id":"52cf8c04.07db44","type":"mqtt out","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste04/Dose05/cmd/power","topic":"/FLKA/Steckdosen/Leiste04/Dose05/cmd/power","qos":"","retain":"","broker":"7c29be25.85c4d","x":1060,"y":1620,"wires":[]},{"id":"8aec30d7.2bfde","type":"mqtt in","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste04/Dose02/stat/power","topic":"/FLKA/Steckdosen/Leiste04/Dose02/stat/power","qos":"2","broker":"7c29be25.85c4d","x":300,"y":1680,"wires":[["bb7a54fd.4262d8"]]},{"id":"bb7a54fd.4262d8","type":"ui_switch","z":"8b90473a.b3c068","name":"","label":"Dose 6","group":"c4f6d490.902f88","order":6,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":680,"y":1680,"wires":[["7d1e60a8.eb343"]]},{"id":"7d1e60a8.eb343","type":"mqtt out","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste04/Dose06/cmd/power","topic":"/FLKA/Steckdosen/Leiste04/Dose06/cmd/power","qos":"","retain":"","broker":"7c29be25.85c4d","x":1060,"y":1680,"wires":[]},{"id":"9f7d2781.27bd38","type":"function","z":"58b638d7.7e4108","name":"Map CAN to MQTT","func":"var dose = 1;\n\nif (msg.payload.leiste) {\n    context.leiste = msg.payload.leiste;\n} else {\n    if (!context.leiste) {\n        throw new Error('Missing initial parameter');\n    }\n    var leiste = context.leiste;\n    \n    value = msg.payload[4 + (dose-1)*2 + 1];\n    \n    msg.topic = '/FLKA/Steckdosen/Leiste0' + leiste + '/Dose0' + dose + '/stat/power'\n    msg.payload = value > 0 ? 'ON' : 'OFF';\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1210,"y":200,"wires":[["56b294cd.18dffc"]]},{"id":"135b17c9.88a128","type":"mqtt in","z":"58b638d7.7e4108","name":"CAN 0x04 F 01 031","topic":"/FLKA/CAN/04F01031","qos":"2","broker":"7c29be25.85c4d","x":430,"y":260,"wires":[["9f7d2781.27bd38","2dc23132.3e8efe","f4c895e8.bcaa28","365922e2.d2307e","47a5ba11.2ff5e4","d3d5318d.721d7"]]},{"id":"c7517522.692098","type":"function","z":"58b638d7.7e4108","name":"Map MQTT to CAN","func":"var leiste = msg.payload.leiste;\nvar dose = msg.payload.dose;\nvar value = msg.payload.value;\nmsg.topic = msg.payload.cannode;\n\nmsg.payload = '010f';\nfor (var i=0; i<(dose-1); i++) {\n    msg.payload += '02';\n}\n\nif (value == \"ON\") {\n    msg.payload += '01';\n} else {\n    msg.payload += '00';\n}\nfor (var i=0; i<=(6-dose); i++) {\n    msg.payload += '02';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":520,"wires":[["56b294cd.18dffc"]]},{"id":"56b294cd.18dffc","type":"mqtt out","z":"58b638d7.7e4108","name":"Send to MQTT","topic":"","qos":"","retain":"","broker":"7c29be25.85c4d","x":1560,"y":480,"wires":[]},{"id":"92757c06.4f802","type":"mqtt in","z":"58b638d7.7e4108","name":"/FLKA/Steckdosen/Leiste01/Dose01/cmd/power","topic":"/FLKA/Steckdosen/Leiste01/Dose01/cmd/power","qos":"2","broker":"7c29be25.85c4d","x":340,"y":520,"wires":[["cb1fe98f.0fc518"]]},{"id":"dd56c343.868a6","type":"inject","z":"58b638d7.7e4108","name":"Inject Leiste: 1 CAN: 04 F01 031","topic":"","payload":"{\"leiste\":1, \"cannode\": \"04f01031\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"0","x":380,"y":160,"wires":[["68110ac3.9d43f4","9f7d2781.27bd38","2dc23132.3e8efe","f4c895e8.bcaa28","365922e2.d2307e","47a5ba11.2ff5e4","d3d5318d.721d7"]]},{"id":"6f755c34.d7be54","type":"mqtt in","z":"58b638d7.7e4108","name":"/FLKA/Steckdosen/Leiste01/Dose02/cmd/power","topic":"/FLKA/Steckdosen/Leiste01/Dose02/cmd/power","qos":"2","broker":"7c29be25.85c4d","x":340,"y":580,"wires":[["7c4f224d.55726c"]]},{"id":"5f76f1a0.bf7","type":"mqtt in","z":"58b638d7.7e4108","name":"/FLKA/Steckdosen/Leiste01/Dose03/cmd/power","topic":"/FLKA/Steckdosen/Leiste01/Dose03/cmd/power","qos":"2","broker":"7c29be25.85c4d","x":340,"y":640,"wires":[["d65495b9.661e88"]]},{"id":"dee9a5a6.d89268","type":"mqtt in","z":"58b638d7.7e4108","name":"/FLKA/Steckdosen/Leiste01/Dose04/cmd/power","topic":"/FLKA/Steckdosen/Leiste01/Dose04/cmd/power","qos":"2","broker":"7c29be25.85c4d","x":340,"y":700,"wires":[["2d9956f0.d4a35a"]]},{"id":"68110ac3.9d43f4","type":"function","z":"58b638d7.7e4108","name":"MQTT wrap payload","func":"if (msg.payload.leiste) {\n    context.leiste = msg.payload.leiste;\n    context.cannode = msg.payload.cannode;\n} else {\n    msg.payload = {\n        dose: msg.payload.dose,\n        leiste: context.leiste,\n        cannode: context.cannode,\n        value: msg.payload.value\n    };\n    return msg;\n}","outputs":1,"noerr":0,"x":960,"y":520,"wires":[["c7517522.692098"]]},{"id":"cb1fe98f.0fc518","type":"function","z":"58b638d7.7e4108","name":"Inject Dose 1","func":"msg.payload = { dose: 1, value: msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":520,"wires":[["68110ac3.9d43f4"]]},{"id":"7c4f224d.55726c","type":"function","z":"58b638d7.7e4108","name":"Inject Dose 2","func":"msg.payload = { dose: 2, value: msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":560,"wires":[["68110ac3.9d43f4"]]},{"id":"d65495b9.661e88","type":"function","z":"58b638d7.7e4108","name":"Inject Dose 3","func":"msg.payload = { dose: 3, value: msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":600,"wires":[["68110ac3.9d43f4"]]},{"id":"2d9956f0.d4a35a","type":"function","z":"58b638d7.7e4108","name":"Inject Dose 4","func":"msg.payload = { dose: 4, value: msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":640,"wires":[["68110ac3.9d43f4"]]},{"id":"a5af829b.f5845","type":"function","z":"58b638d7.7e4108","name":"Inject Dose 5","func":"msg.payload = { dose: 5, value: msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":680,"wires":[["68110ac3.9d43f4"]]},{"id":"3b2ae27f.8c499e","type":"function","z":"58b638d7.7e4108","name":"Inject Dose 6","func":"msg.payload = { dose: 6, value: msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":720,"wires":[["68110ac3.9d43f4"]]},{"id":"fb6f81c4.64196","type":"mqtt in","z":"58b638d7.7e4108","name":"/FLKA/Steckdosen/Leiste01/Dose05/cmd/power","topic":"/FLKA/Steckdosen/Leiste01/Dose05/cmd/power","qos":"2","broker":"7c29be25.85c4d","x":340,"y":760,"wires":[["a5af829b.f5845"]]},{"id":"3e8bf6fc.e694ca","type":"mqtt in","z":"58b638d7.7e4108","name":"/FLKA/Steckdosen/Leiste01/Dose06/cmd/power","topic":"/FLKA/Steckdosen/Leiste01/Dose06/cmd/power","qos":"2","broker":"7c29be25.85c4d","x":340,"y":820,"wires":[["3b2ae27f.8c499e"]]},{"id":"2dc23132.3e8efe","type":"function","z":"58b638d7.7e4108","name":"Map CAN to MQTT","func":"var dose = 2;\n\nif (msg.payload.leiste) {\n    context.leiste = msg.payload.leiste;\n} else {\n    if (!context.leiste) {\n        throw new Error('Missing initial parameter');\n    }\n    var leiste = context.leiste;\n    \n    value = msg.payload[4 + (dose-1)*2 + 1];\n    \n    msg.topic = '/FLKA/Steckdosen/Leiste0' + leiste + '/Dose0' + dose + '/stat/power'\n    msg.payload = value > 0 ? 'ON' : 'OFF';\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1210,"y":240,"wires":[["56b294cd.18dffc"]]},{"id":"f4c895e8.bcaa28","type":"function","z":"58b638d7.7e4108","name":"Map CAN to MQTT","func":"var dose = 3;\n\nif (msg.payload.leiste) {\n    context.leiste = msg.payload.leiste;\n} else {\n    if (!context.leiste) {\n        throw new Error('Missing initial parameter');\n    }\n    var leiste = context.leiste;\n    \n    value = msg.payload[4 + (dose-1)*2 + 1];\n    \n    msg.topic = '/FLKA/Steckdosen/Leiste0' + leiste + '/Dose0' + dose + '/stat/power'\n    msg.payload = value > 0 ? 'ON' : 'OFF';\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1210,"y":280,"wires":[["56b294cd.18dffc"]]},{"id":"365922e2.d2307e","type":"function","z":"58b638d7.7e4108","name":"Map CAN to MQTT","func":"var dose = 4;\n\nif (msg.payload.leiste) {\n    context.leiste = msg.payload.leiste;\n} else {\n    if (!context.leiste) {\n        throw new Error('Missing initial parameter');\n    }\n    var leiste = context.leiste;\n    \n    value = msg.payload[4 + (dose-1)*2 + 1];\n    \n    msg.topic = '/FLKA/Steckdosen/Leiste0' + leiste + '/Dose0' + dose + '/stat/power'\n    msg.payload = value > 0 ? 'ON' : 'OFF';\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1210,"y":320,"wires":[["56b294cd.18dffc"]]},{"id":"47a5ba11.2ff5e4","type":"function","z":"58b638d7.7e4108","name":"Map CAN to MQTT","func":"var dose = 5;\n\nif (msg.payload.leiste) {\n    context.leiste = msg.payload.leiste;\n} else {\n    if (!context.leiste) {\n        throw new Error('Missing initial parameter');\n    }\n    var leiste = context.leiste;\n    \n    value = msg.payload[4 + (dose-1)*2 + 1];\n    \n    msg.topic = '/FLKA/Steckdosen/Leiste0' + leiste + '/Dose0' + dose + '/stat/power'\n    msg.payload = value > 0 ? 'ON' : 'OFF';\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1210,"y":360,"wires":[["56b294cd.18dffc"]]},{"id":"d3d5318d.721d7","type":"function","z":"58b638d7.7e4108","name":"Map CAN to MQTT","func":"var dose = 6;\n\nif (msg.payload.leiste) {\n    context.leiste = msg.payload.leiste;\n} else {\n    if (!context.leiste) {\n        throw new Error('Missing initial parameter');\n    }\n    var leiste = context.leiste;\n    \n    value = msg.payload[4 + (dose-1)*2 + 1];\n    \n    msg.topic = '/FLKA/Steckdosen/Leiste0' + leiste + '/Dose0' + dose + '/stat/power'\n    msg.payload = value > 0 ? 'ON' : 'OFF';\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1210,"y":400,"wires":[["56b294cd.18dffc"]]},{"id":"8e88e40a.14f608","type":"comment","z":"58b638d7.7e4108","name":"Leiste 1","info":"","x":140,"y":60,"wires":[]},{"id":"af499259.7daf1","type":"function","z":"58b638d7.7e4108","name":"Map CAN to MQTT","func":"var dose = 1;\n\nif (msg.payload.leiste) {\n    context.leiste = msg.payload.leiste;\n} else {\n    if (!context.leiste) {\n        throw new Error('Missing initial parameter');\n    }\n    var leiste = context.leiste;\n    \n    value = msg.payload[4 + (dose-1)*2 + 1];\n    \n    msg.topic = '/FLKA/Steckdosen/Leiste0' + leiste + '/Dose0' + dose + '/stat/power'\n    msg.payload = value > 0 ? 'ON' : 'OFF';\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1210,"y":1100,"wires":[["211df36d.ba8a9c"]]},{"id":"a37b90f5.cbe4c","type":"mqtt in","z":"58b638d7.7e4108","name":"CAN 0x04 F 01 032","topic":"/FLKA/CAN/04F01032","qos":"2","broker":"7c29be25.85c4d","x":430,"y":1160,"wires":[["af499259.7daf1","f0eae269.b2ad4","daa1de94.96f2b","1b3ad88b.4ed727","311b1619.3fcf6a","656d5a98.006054"]]},{"id":"7ab264d3.80dbec","type":"function","z":"58b638d7.7e4108","name":"Map MQTT to CAN","func":"var leiste = msg.payload.leiste;\nvar dose = msg.payload.dose;\nvar value = msg.payload.value;\nmsg.topic = msg.payload.cannode;\n\nmsg.payload = '010f';\nfor (var i=0; i<(dose-1); i++) {\n    msg.payload += '02';\n}\n\nif (value == \"ON\") {\n    msg.payload += '01';\n} else {\n    msg.payload += '00';\n}\nfor (var i=0; i<=(6-dose); i++) {\n    msg.payload += '02';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1420,"wires":[["211df36d.ba8a9c"]]},{"id":"211df36d.ba8a9c","type":"mqtt out","z":"58b638d7.7e4108","name":"Send to MQTT","topic":"","qos":"","retain":"","broker":"7c29be25.85c4d","x":1560,"y":1380,"wires":[]},{"id":"1522e120.47bdcf","type":"mqtt in","z":"58b638d7.7e4108","name":"/FLKA/Steckdosen/Leiste02/Dose01/cmd/power","topic":"/FLKA/Steckdosen/Leiste02/Dose01/cmd/power","qos":"2","broker":"7c29be25.85c4d","x":340,"y":1420,"wires":[["d7eb0e13.a396"]]},{"id":"d03e9cc8.ea098","type":"inject","z":"58b638d7.7e4108","name":"Inject Leiste: 2 CAN: 04 F01 032","topic":"","payload":"{\"leiste\":2, \"cannode\": \"04f01032\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"0","x":380,"y":1060,"wires":[["9c5a6bf5.2f58a8","af499259.7daf1","f0eae269.b2ad4","daa1de94.96f2b","1b3ad88b.4ed727","311b1619.3fcf6a","656d5a98.006054"]]},{"id":"a7431dba.627c8","type":"mqtt in","z":"58b638d7.7e4108","name":"/FLKA/Steckdosen/Leiste02/Dose02/cmd/power","topic":"/FLKA/Steckdosen/Leiste02/Dose02/cmd/power","qos":"2","broker":"7c29be25.85c4d","x":340,"y":1480,"wires":[["77bc2578.3c9d7c"]]},{"id":"2bb7bbe1.2c6194","type":"mqtt in","z":"58b638d7.7e4108","name":"/FLKA/Steckdosen/Leiste02/Dose03/cmd/power","topic":"/FLKA/Steckdosen/Leiste02/Dose03/cmd/power","qos":"2","broker":"7c29be25.85c4d","x":340,"y":1540,"wires":[["4c06cc58.11b754"]]},{"id":"c22fcd79.0f7ff","type":"mqtt in","z":"58b638d7.7e4108","name":"/FLKA/Steckdosen/Leiste02/Dose04/cmd/power","topic":"/FLKA/Steckdosen/Leiste02/Dose04/cmd/power","qos":"2","broker":"7c29be25.85c4d","x":340,"y":1600,"wires":[["167a5a75.6d5b06"]]},{"id":"9c5a6bf5.2f58a8","type":"function","z":"58b638d7.7e4108","name":"MQTT wrap payload","func":"if (msg.payload.leiste) {\n    context.leiste = msg.payload.leiste;\n    context.cannode = msg.payload.cannode;\n} else {\n    msg.payload = {\n        dose: msg.payload.dose,\n        leiste: context.leiste,\n        cannode: context.cannode,\n        value: msg.payload.value\n    };\n    return msg;\n}","outputs":1,"noerr":0,"x":960,"y":1420,"wires":[["7ab264d3.80dbec"]]},{"id":"d7eb0e13.a396","type":"function","z":"58b638d7.7e4108","name":"Inject Dose 1","func":"msg.payload = { dose: 1, value: msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1420,"wires":[["9c5a6bf5.2f58a8"]]},{"id":"77bc2578.3c9d7c","type":"function","z":"58b638d7.7e4108","name":"Inject Dose 2","func":"msg.payload = { dose: 2, value: msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1460,"wires":[["9c5a6bf5.2f58a8"]]},{"id":"4c06cc58.11b754","type":"function","z":"58b638d7.7e4108","name":"Inject Dose 3","func":"msg.payload = { dose: 3, value: msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1500,"wires":[["9c5a6bf5.2f58a8"]]},{"id":"167a5a75.6d5b06","type":"function","z":"58b638d7.7e4108","name":"Inject Dose 4","func":"msg.payload = { dose: 4, value: msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1540,"wires":[["9c5a6bf5.2f58a8"]]},{"id":"ff4d05ae.1180d8","type":"function","z":"58b638d7.7e4108","name":"Inject Dose 5","func":"msg.payload = { dose: 5, value: msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1580,"wires":[["9c5a6bf5.2f58a8"]]},{"id":"74be6ce7.b7cd84","type":"function","z":"58b638d7.7e4108","name":"Inject Dose 6","func":"msg.payload = { dose: 6, value: msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1620,"wires":[["9c5a6bf5.2f58a8"]]},{"id":"f1cf00f9.d3ff4","type":"mqtt in","z":"58b638d7.7e4108","name":"/FLKA/Steckdosen/Leiste02/Dose05/cmd/power","topic":"/FLKA/Steckdosen/Leiste02/Dose05/cmd/power","qos":"2","broker":"7c29be25.85c4d","x":340,"y":1660,"wires":[["ff4d05ae.1180d8"]]},{"id":"d9b8c93c.9a8298","type":"mqtt in","z":"58b638d7.7e4108","name":"/FLKA/Steckdosen/Leiste02/Dose06/cmd/power","topic":"/FLKA/Steckdosen/Leiste02/Dose06/cmd/power","qos":"2","broker":"7c29be25.85c4d","x":340,"y":1720,"wires":[["74be6ce7.b7cd84"]]},{"id":"f0eae269.b2ad4","type":"function","z":"58b638d7.7e4108","name":"Map CAN to MQTT","func":"var dose = 2;\n\nif (msg.payload.leiste) {\n    context.leiste = msg.payload.leiste;\n} else {\n    if (!context.leiste) {\n        throw new Error('Missing initial parameter');\n    }\n    var leiste = context.leiste;\n    \n    value = msg.payload[4 + (dose-1)*2 + 1];\n    \n    msg.topic = '/FLKA/Steckdosen/Leiste0' + leiste + '/Dose0' + dose + '/stat/power'\n    msg.payload = value > 0 ? 'ON' : 'OFF';\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1210,"y":1140,"wires":[["211df36d.ba8a9c"]]},{"id":"daa1de94.96f2b","type":"function","z":"58b638d7.7e4108","name":"Map CAN to MQTT","func":"var dose = 3;\n\nif (msg.payload.leiste) {\n    context.leiste = msg.payload.leiste;\n} else {\n    if (!context.leiste) {\n        throw new Error('Missing initial parameter');\n    }\n    var leiste = context.leiste;\n    \n    value = msg.payload[4 + (dose-1)*2 + 1];\n    \n    msg.topic = '/FLKA/Steckdosen/Leiste0' + leiste + '/Dose0' + dose + '/stat/power'\n    msg.payload = value > 0 ? 'ON' : 'OFF';\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1210,"y":1180,"wires":[["211df36d.ba8a9c"]]},{"id":"1b3ad88b.4ed727","type":"function","z":"58b638d7.7e4108","name":"Map CAN to MQTT","func":"var dose = 4;\n\nif (msg.payload.leiste) {\n    context.leiste = msg.payload.leiste;\n} else {\n    if (!context.leiste) {\n        throw new Error('Missing initial parameter');\n    }\n    var leiste = context.leiste;\n    \n    value = msg.payload[4 + (dose-1)*2 + 1];\n    \n    msg.topic = '/FLKA/Steckdosen/Leiste0' + leiste + '/Dose0' + dose + '/stat/power'\n    msg.payload = value > 0 ? 'ON' : 'OFF';\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1210,"y":1220,"wires":[["211df36d.ba8a9c"]]},{"id":"311b1619.3fcf6a","type":"function","z":"58b638d7.7e4108","name":"Map CAN to MQTT","func":"var dose = 5;\n\nif (msg.payload.leiste) {\n    context.leiste = msg.payload.leiste;\n} else {\n    if (!context.leiste) {\n        throw new Error('Missing initial parameter');\n    }\n    var leiste = context.leiste;\n    \n    value = msg.payload[4 + (dose-1)*2 + 1];\n    \n    msg.topic = '/FLKA/Steckdosen/Leiste0' + leiste + '/Dose0' + dose + '/stat/power'\n    msg.payload = value > 0 ? 'ON' : 'OFF';\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1210,"y":1260,"wires":[["211df36d.ba8a9c"]]},{"id":"656d5a98.006054","type":"function","z":"58b638d7.7e4108","name":"Map CAN to MQTT","func":"var dose = 6;\n\nif (msg.payload.leiste) {\n    context.leiste = msg.payload.leiste;\n} else {\n    if (!context.leiste) {\n        throw new Error('Missing initial parameter');\n    }\n    var leiste = context.leiste;\n    \n    value = msg.payload[4 + (dose-1)*2 + 1];\n    \n    msg.topic = '/FLKA/Steckdosen/Leiste0' + leiste + '/Dose0' + dose + '/stat/power'\n    msg.payload = value > 0 ? 'ON' : 'OFF';\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1210,"y":1300,"wires":[["211df36d.ba8a9c"]]},{"id":"5fbd819b.ce5fa","type":"comment","z":"58b638d7.7e4108","name":"Leiste 2","info":"","x":140,"y":960,"wires":[]},{"id":"27f52330.36ec9c","type":"function","z":"58b638d7.7e4108","name":"Map CAN to MQTT","func":"var dose = 1;\n\nif (msg.payload.leiste) {\n    context.leiste = msg.payload.leiste;\n} else {\n    if (!context.leiste) {\n        throw new Error('Missing initial parameter');\n    }\n    var leiste = context.leiste;\n    \n    value = msg.payload[4 + (dose-1)*2 + 1];\n    \n    msg.topic = '/FLKA/Steckdosen/Leiste0' + leiste + '/Dose0' + dose + '/stat/power'\n    msg.payload = value > 0 ? 'ON' : 'OFF';\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1210,"y":2000,"wires":[["a1f29d94.da89"]]},{"id":"afb4cd8a.f8b3a","type":"mqtt in","z":"58b638d7.7e4108","name":"CAN 0x04 F 01 033","topic":"/FLKA/CAN/04F01033","qos":"2","broker":"7c29be25.85c4d","x":430,"y":2060,"wires":[["27f52330.36ec9c","38533588.f6106a","fb91b26.8d3195","6bbce32b.71d9bc","7cd736c.29bc2c8","26b8d5d.10d582a"]]},{"id":"91b9d03.8455d3","type":"function","z":"58b638d7.7e4108","name":"Map MQTT to CAN","func":"var leiste = msg.payload.leiste;\nvar dose = msg.payload.dose;\nvar value = msg.payload.value;\nmsg.topic = msg.payload.cannode;\n\nmsg.payload = '010f';\nfor (var i=0; i<(dose-1); i++) {\n    msg.payload += '02';\n}\n\nif (value == \"ON\") {\n    msg.payload += '01';\n} else {\n    msg.payload += '00';\n}\nfor (var i=0; i<=(6-dose); i++) {\n    msg.payload += '02';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":2320,"wires":[["a1f29d94.da89"]]},{"id":"a1f29d94.da89","type":"mqtt out","z":"58b638d7.7e4108","name":"Send to MQTT","topic":"","qos":"","retain":"","broker":"7c29be25.85c4d","x":1560,"y":2280,"wires":[]},{"id":"b78f7337.deed3","type":"mqtt in","z":"58b638d7.7e4108","name":"/FLKA/Steckdosen/Leiste03/Dose01/cmd/power","topic":"/FLKA/Steckdosen/Leiste03/Dose01/cmd/power","qos":"2","broker":"7c29be25.85c4d","x":340,"y":2320,"wires":[["952db87b.af6998"]]},{"id":"3b557dbc.36ae72","type":"inject","z":"58b638d7.7e4108","name":"Inject Leiste: 3 CAN: 04 F01 033","topic":"","payload":"{\"leiste\":3, \"cannode\": \"04f01033\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"0","x":380,"y":1960,"wires":[["77cd7bd1.3fb154","27f52330.36ec9c","38533588.f6106a","fb91b26.8d3195","6bbce32b.71d9bc","7cd736c.29bc2c8","26b8d5d.10d582a"]]},{"id":"d608313.1b640d","type":"mqtt in","z":"58b638d7.7e4108","name":"/FLKA/Steckdosen/Leiste03/Dose02/cmd/power","topic":"/FLKA/Steckdosen/Leiste03/Dose02/cmd/power","qos":"2","broker":"7c29be25.85c4d","x":340,"y":2380,"wires":[["26ec4e20.f09022"]]},{"id":"1a53918b.2dd68e","type":"mqtt in","z":"58b638d7.7e4108","name":"/FLKA/Steckdosen/Leiste03/Dose03/cmd/power","topic":"/FLKA/Steckdosen/Leiste03/Dose03/cmd/power","qos":"2","broker":"7c29be25.85c4d","x":340,"y":2440,"wires":[["933ac3fb.38dc5"]]},{"id":"a44180af.e5247","type":"mqtt in","z":"58b638d7.7e4108","name":"/FLKA/Steckdosen/Leiste03/Dose04/cmd/power","topic":"/FLKA/Steckdosen/Leiste03/Dose04/cmd/power","qos":"2","broker":"7c29be25.85c4d","x":340,"y":2500,"wires":[["9c17a793.7870f8"]]},{"id":"77cd7bd1.3fb154","type":"function","z":"58b638d7.7e4108","name":"MQTT wrap payload","func":"if (msg.payload.leiste) {\n    context.leiste = msg.payload.leiste;\n    context.cannode = msg.payload.cannode;\n} else {\n    msg.payload = {\n        dose: msg.payload.dose,\n        leiste: context.leiste,\n        cannode: context.cannode,\n        value: msg.payload.value\n    };\n    return msg;\n}","outputs":1,"noerr":0,"x":960,"y":2320,"wires":[["91b9d03.8455d3"]]},{"id":"952db87b.af6998","type":"function","z":"58b638d7.7e4108","name":"Inject Dose 1","func":"msg.payload = { dose: 1, value: msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":2320,"wires":[["77cd7bd1.3fb154"]]},{"id":"26ec4e20.f09022","type":"function","z":"58b638d7.7e4108","name":"Inject Dose 2","func":"msg.payload = { dose: 2, value: msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":2360,"wires":[["77cd7bd1.3fb154"]]},{"id":"933ac3fb.38dc5","type":"function","z":"58b638d7.7e4108","name":"Inject Dose 3","func":"msg.payload = { dose: 3, value: msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":2400,"wires":[["77cd7bd1.3fb154"]]},{"id":"9c17a793.7870f8","type":"function","z":"58b638d7.7e4108","name":"Inject Dose 4","func":"msg.payload = { dose: 4, value: msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":2440,"wires":[["77cd7bd1.3fb154"]]},{"id":"57ff9fd4.32377","type":"function","z":"58b638d7.7e4108","name":"Inject Dose 5","func":"msg.payload = { dose: 5, value: msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":2480,"wires":[["77cd7bd1.3fb154"]]},{"id":"f575ea72.6f2268","type":"function","z":"58b638d7.7e4108","name":"Inject Dose 6","func":"msg.payload = { dose: 6, value: msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":2520,"wires":[["77cd7bd1.3fb154"]]},{"id":"bf8e37af.bbf4a8","type":"mqtt in","z":"58b638d7.7e4108","name":"/FLKA/Steckdosen/Leiste03/Dose05/cmd/power","topic":"/FLKA/Steckdosen/Leiste03/Dose05/cmd/power","qos":"2","broker":"7c29be25.85c4d","x":340,"y":2560,"wires":[["57ff9fd4.32377"]]},{"id":"b65dbb2f.86a808","type":"mqtt in","z":"58b638d7.7e4108","name":"/FLKA/Steckdosen/Leiste03/Dose06/cmd/power","topic":"/FLKA/Steckdosen/Leiste03/Dose06/cmd/power","qos":"2","broker":"7c29be25.85c4d","x":340,"y":2620,"wires":[["f575ea72.6f2268"]]},{"id":"38533588.f6106a","type":"function","z":"58b638d7.7e4108","name":"Map CAN to MQTT","func":"var dose = 2;\n\nif (msg.payload.leiste) {\n    context.leiste = msg.payload.leiste;\n} else {\n    if (!context.leiste) {\n        throw new Error('Missing initial parameter');\n    }\n    var leiste = context.leiste;\n    \n    value = msg.payload[4 + (dose-1)*2 + 1];\n    \n    msg.topic = '/FLKA/Steckdosen/Leiste0' + leiste + '/Dose0' + dose + '/stat/power'\n    msg.payload = value > 0 ? 'ON' : 'OFF';\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1210,"y":2040,"wires":[["a1f29d94.da89"]]},{"id":"fb91b26.8d3195","type":"function","z":"58b638d7.7e4108","name":"Map CAN to MQTT","func":"var dose = 3;\n\nif (msg.payload.leiste) {\n    context.leiste = msg.payload.leiste;\n} else {\n    if (!context.leiste) {\n        throw new Error('Missing initial parameter');\n    }\n    var leiste = context.leiste;\n    \n    value = msg.payload[4 + (dose-1)*2 + 1];\n    \n    msg.topic = '/FLKA/Steckdosen/Leiste0' + leiste + '/Dose0' + dose + '/stat/power'\n    msg.payload = value > 0 ? 'ON' : 'OFF';\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1210,"y":2080,"wires":[["a1f29d94.da89"]]},{"id":"6bbce32b.71d9bc","type":"function","z":"58b638d7.7e4108","name":"Map CAN to MQTT","func":"var dose = 4;\n\nif (msg.payload.leiste) {\n    context.leiste = msg.payload.leiste;\n} else {\n    if (!context.leiste) {\n        throw new Error('Missing initial parameter');\n    }\n    var leiste = context.leiste;\n    \n    value = msg.payload[4 + (dose-1)*2 + 1];\n    \n    msg.topic = '/FLKA/Steckdosen/Leiste0' + leiste + '/Dose0' + dose + '/stat/power'\n    msg.payload = value > 0 ? 'ON' : 'OFF';\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1210,"y":2120,"wires":[["a1f29d94.da89"]]},{"id":"7cd736c.29bc2c8","type":"function","z":"58b638d7.7e4108","name":"Map CAN to MQTT","func":"var dose = 5;\n\nif (msg.payload.leiste) {\n    context.leiste = msg.payload.leiste;\n} else {\n    if (!context.leiste) {\n        throw new Error('Missing initial parameter');\n    }\n    var leiste = context.leiste;\n    \n    value = msg.payload[4 + (dose-1)*2 + 1];\n    \n    msg.topic = '/FLKA/Steckdosen/Leiste0' + leiste + '/Dose0' + dose + '/stat/power'\n    msg.payload = value > 0 ? 'ON' : 'OFF';\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1210,"y":2160,"wires":[["a1f29d94.da89"]]},{"id":"26b8d5d.10d582a","type":"function","z":"58b638d7.7e4108","name":"Map CAN to MQTT","func":"var dose = 6;\n\nif (msg.payload.leiste) {\n    context.leiste = msg.payload.leiste;\n} else {\n    if (!context.leiste) {\n        throw new Error('Missing initial parameter');\n    }\n    var leiste = context.leiste;\n    \n    value = msg.payload[4 + (dose-1)*2 + 1];\n    \n    msg.topic = '/FLKA/Steckdosen/Leiste0' + leiste + '/Dose0' + dose + '/stat/power'\n    msg.payload = value > 0 ? 'ON' : 'OFF';\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1210,"y":2200,"wires":[["a1f29d94.da89"]]},{"id":"dde0c82d.62d318","type":"comment","z":"58b638d7.7e4108","name":"Leiste 3","info":"","x":140,"y":1860,"wires":[]},{"id":"3516e98a.6b3366","type":"function","z":"58b638d7.7e4108","name":"Map CAN to MQTT","func":"var dose = 1;\n\nif (msg.payload.leiste) {\n    context.leiste = msg.payload.leiste;\n} else {\n    if (!context.leiste) {\n        throw new Error('Missing initial parameter');\n    }\n    var leiste = context.leiste;\n    \n    value = msg.payload[4 + (dose-1)*2 + 1];\n    \n    msg.topic = '/FLKA/Steckdosen/Leiste0' + leiste + '/Dose0' + dose + '/stat/power'\n    msg.payload = value > 0 ? 'ON' : 'OFF';\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1210,"y":2880,"wires":[["3c0d858a.5cc36a"]]},{"id":"88cf9dd8.c20a3","type":"mqtt in","z":"58b638d7.7e4108","name":"CAN 0x04 F 01 034","topic":"/FLKA/CAN/04F01034","qos":"2","broker":"7c29be25.85c4d","x":430,"y":2940,"wires":[["3516e98a.6b3366","5b8f1ee4.e2fb2","70e5b917.a48d78","c74472d7.1c2ca","f38eb0be.83e94","7ae97cb.752c184"]]},{"id":"f1ee72b5.6a5cb","type":"function","z":"58b638d7.7e4108","name":"Map MQTT to CAN","func":"var leiste = msg.payload.leiste;\nvar dose = msg.payload.dose;\nvar value = msg.payload.value;\nmsg.topic = msg.payload.cannode;\n\nmsg.payload = '010f';\nfor (var i=0; i<(dose-1); i++) {\n    msg.payload += '02';\n}\n\nif (value == \"ON\") {\n    msg.payload += '01';\n} else {\n    msg.payload += '00';\n}\nfor (var i=0; i<=(6-dose); i++) {\n    msg.payload += '02';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":3200,"wires":[["3c0d858a.5cc36a"]]},{"id":"3c0d858a.5cc36a","type":"mqtt out","z":"58b638d7.7e4108","name":"Send to MQTT","topic":"","qos":"","retain":"","broker":"7c29be25.85c4d","x":1560,"y":3160,"wires":[]},{"id":"96161466.f3cac8","type":"mqtt in","z":"58b638d7.7e4108","name":"/FLKA/Steckdosen/Leiste04/Dose01/cmd/power","topic":"/FLKA/Steckdosen/Leiste04/Dose01/cmd/power","qos":"2","broker":"7c29be25.85c4d","x":340,"y":3200,"wires":[["e26564fd.997668"]]},{"id":"bb0a80b3.23971","type":"inject","z":"58b638d7.7e4108","name":"Inject Leiste: 4 CAN: 04 F01 034","topic":"","payload":"{\"leiste\":4, \"cannode\": \"04f01034\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"0","x":380,"y":2840,"wires":[["729a07e0.340dd8","3516e98a.6b3366","5b8f1ee4.e2fb2","70e5b917.a48d78","c74472d7.1c2ca","f38eb0be.83e94","7ae97cb.752c184"]]},{"id":"50f56860.c04438","type":"mqtt in","z":"58b638d7.7e4108","name":"/FLKA/Steckdosen/Leiste04/Dose02/cmd/power","topic":"/FLKA/Steckdosen/Leiste04/Dose02/cmd/power","qos":"2","broker":"7c29be25.85c4d","x":340,"y":3260,"wires":[["531c0ac1.9325d4"]]},{"id":"918847d0.573b18","type":"mqtt in","z":"58b638d7.7e4108","name":"/FLKA/Steckdosen/Leiste04/Dose03/cmd/power","topic":"/FLKA/Steckdosen/Leiste04/Dose03/cmd/power","qos":"2","broker":"7c29be25.85c4d","x":340,"y":3320,"wires":[["5609dde7.9739f4"]]},{"id":"1d2ad891.bbd657","type":"mqtt in","z":"58b638d7.7e4108","name":"/FLKA/Steckdosen/Leiste04/Dose04/cmd/power","topic":"/FLKA/Steckdosen/Leiste04/Dose04/cmd/power","qos":"2","broker":"7c29be25.85c4d","x":340,"y":3380,"wires":[["a40e1335.9633b"]]},{"id":"729a07e0.340dd8","type":"function","z":"58b638d7.7e4108","name":"MQTT wrap payload","func":"if (msg.payload.leiste) {\n    context.leiste = msg.payload.leiste;\n    context.cannode = msg.payload.cannode;\n} else {\n    msg.payload = {\n        dose: msg.payload.dose,\n        leiste: context.leiste,\n        cannode: context.cannode,\n        value: msg.payload.value\n    };\n    return msg;\n}","outputs":1,"noerr":0,"x":960,"y":3200,"wires":[["f1ee72b5.6a5cb"]]},{"id":"e26564fd.997668","type":"function","z":"58b638d7.7e4108","name":"Inject Dose 1","func":"msg.payload = { dose: 1, value: msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":3200,"wires":[["729a07e0.340dd8"]]},{"id":"531c0ac1.9325d4","type":"function","z":"58b638d7.7e4108","name":"Inject Dose 2","func":"msg.payload = { dose: 2, value: msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":3240,"wires":[["729a07e0.340dd8"]]},{"id":"5609dde7.9739f4","type":"function","z":"58b638d7.7e4108","name":"Inject Dose 3","func":"msg.payload = { dose: 3, value: msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":3280,"wires":[["729a07e0.340dd8"]]},{"id":"a40e1335.9633b","type":"function","z":"58b638d7.7e4108","name":"Inject Dose 4","func":"msg.payload = { dose: 4, value: msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":3320,"wires":[["729a07e0.340dd8"]]},{"id":"7274dbc6.b9c9d4","type":"function","z":"58b638d7.7e4108","name":"Inject Dose 5","func":"msg.payload = { dose: 5, value: msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":3360,"wires":[["729a07e0.340dd8"]]},{"id":"5356becf.8b4c5","type":"function","z":"58b638d7.7e4108","name":"Inject Dose 6","func":"msg.payload = { dose: 6, value: msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":3400,"wires":[["729a07e0.340dd8"]]},{"id":"51f43125.91889","type":"mqtt in","z":"58b638d7.7e4108","name":"/FLKA/Steckdosen/Leiste04/Dose05/cmd/power","topic":"/FLKA/Steckdosen/Leiste04/Dose05/cmd/power","qos":"2","broker":"7c29be25.85c4d","x":340,"y":3440,"wires":[["7274dbc6.b9c9d4"]]},{"id":"612094fa.5f0e9c","type":"mqtt in","z":"58b638d7.7e4108","name":"/FLKA/Steckdosen/Leiste04/Dose06/cmd/power","topic":"/FLKA/Steckdosen/Leiste04/Dose06/cmd/power","qos":"2","broker":"7c29be25.85c4d","x":340,"y":3500,"wires":[["5356becf.8b4c5"]]},{"id":"5b8f1ee4.e2fb2","type":"function","z":"58b638d7.7e4108","name":"Map CAN to MQTT","func":"var dose = 2;\n\nif (msg.payload.leiste) {\n    context.leiste = msg.payload.leiste;\n} else {\n    if (!context.leiste) {\n        throw new Error('Missing initial parameter');\n    }\n    var leiste = context.leiste;\n    \n    value = msg.payload[4 + (dose-1)*2 + 1];\n    \n    msg.topic = '/FLKA/Steckdosen/Leiste0' + leiste + '/Dose0' + dose + '/stat/power'\n    msg.payload = value > 0 ? 'ON' : 'OFF';\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1210,"y":2920,"wires":[["3c0d858a.5cc36a"]]},{"id":"70e5b917.a48d78","type":"function","z":"58b638d7.7e4108","name":"Map CAN to MQTT","func":"var dose = 3;\n\nif (msg.payload.leiste) {\n    context.leiste = msg.payload.leiste;\n} else {\n    if (!context.leiste) {\n        throw new Error('Missing initial parameter');\n    }\n    var leiste = context.leiste;\n    \n    value = msg.payload[4 + (dose-1)*2 + 1];\n    \n    msg.topic = '/FLKA/Steckdosen/Leiste0' + leiste + '/Dose0' + dose + '/stat/power'\n    msg.payload = value > 0 ? 'ON' : 'OFF';\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1210,"y":2960,"wires":[["3c0d858a.5cc36a"]]},{"id":"c74472d7.1c2ca","type":"function","z":"58b638d7.7e4108","name":"Map CAN to MQTT","func":"var dose = 4;\n\nif (msg.payload.leiste) {\n    context.leiste = msg.payload.leiste;\n} else {\n    if (!context.leiste) {\n        throw new Error('Missing initial parameter');\n    }\n    var leiste = context.leiste;\n    \n    value = msg.payload[4 + (dose-1)*2 + 1];\n    \n    msg.topic = '/FLKA/Steckdosen/Leiste0' + leiste + '/Dose0' + dose + '/stat/power'\n    msg.payload = value > 0 ? 'ON' : 'OFF';\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1210,"y":3000,"wires":[["3c0d858a.5cc36a"]]},{"id":"f38eb0be.83e94","type":"function","z":"58b638d7.7e4108","name":"Map CAN to MQTT","func":"var dose = 5;\n\nif (msg.payload.leiste) {\n    context.leiste = msg.payload.leiste;\n} else {\n    if (!context.leiste) {\n        throw new Error('Missing initial parameter');\n    }\n    var leiste = context.leiste;\n    \n    value = msg.payload[4 + (dose-1)*2 + 1];\n    \n    msg.topic = '/FLKA/Steckdosen/Leiste0' + leiste + '/Dose0' + dose + '/stat/power'\n    msg.payload = value > 0 ? 'ON' : 'OFF';\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1210,"y":3040,"wires":[["3c0d858a.5cc36a"]]},{"id":"7ae97cb.752c184","type":"function","z":"58b638d7.7e4108","name":"Map CAN to MQTT","func":"var dose = 6;\n\nif (msg.payload.leiste) {\n    context.leiste = msg.payload.leiste;\n} else {\n    if (!context.leiste) {\n        throw new Error('Missing initial parameter');\n    }\n    var leiste = context.leiste;\n    \n    value = msg.payload[4 + (dose-1)*2 + 1];\n    \n    msg.topic = '/FLKA/Steckdosen/Leiste0' + leiste + '/Dose0' + dose + '/stat/power'\n    msg.payload = value > 0 ? 'ON' : 'OFF';\n\n    return msg;\n}","outputs":1,"noerr":0,"x":1210,"y":3080,"wires":[["3c0d858a.5cc36a"]]},{"id":"8cfb1966.adbb98","type":"comment","z":"58b638d7.7e4108","name":"Leiste 4","info":"","x":140,"y":2740,"wires":[]},{"id":"70b5933c.401a8c","type":"ui_switch","z":"8b90473a.b3c068","name":"","label":"Leiste Main","group":"7191963e.60699","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":690,"y":40,"wires":[["904a2231.cff"]]},{"id":"e61d9ecd.018fa","type":"mqtt in","z":"58b638d7.7e4108","name":"/FLKA/Steckdosen/Leiste01/cmd/power","topic":"/FLKA/Steckdosen/Leiste01/cmd/power","qos":"2","broker":"7c29be25.85c4d","x":370,"y":440,"wires":[["cb1fe98f.0fc518","7c4f224d.55726c","d65495b9.661e88","2d9956f0.d4a35a","a5af829b.f5845","3b2ae27f.8c499e"]]},{"id":"2bd91709.a5b028","type":"mqtt in","z":"58b638d7.7e4108","name":"/FLKA/Steckdosen/Leiste02/cmd/power","topic":"/FLKA/Steckdosen/Leiste02/cmd/power","qos":"2","broker":"7c29be25.85c4d","x":370,"y":1340,"wires":[["d7eb0e13.a396","77bc2578.3c9d7c","4c06cc58.11b754","167a5a75.6d5b06","ff4d05ae.1180d8","74be6ce7.b7cd84"]]},{"id":"45fc17e1.082308","type":"mqtt in","z":"58b638d7.7e4108","name":"/FLKA/Steckdosen/Leiste03/cmd/power","topic":"/FLKA/Steckdosen/Leiste03/cmd/power","qos":"2","broker":"7c29be25.85c4d","x":370,"y":2260,"wires":[["952db87b.af6998","26ec4e20.f09022","933ac3fb.38dc5","9c17a793.7870f8","57ff9fd4.32377","f575ea72.6f2268"]]},{"id":"7010fd1f.fe9d64","type":"mqtt in","z":"58b638d7.7e4108","name":"/FLKA/Steckdosen/Leiste04/cmd/power","topic":"/FLKA/Steckdosen/Leiste04/cmd/power","qos":"2","broker":"7c29be25.85c4d","x":370,"y":3140,"wires":[["e26564fd.997668","531c0ac1.9325d4","5609dde7.9739f4","a40e1335.9633b","7274dbc6.b9c9d4","5356becf.8b4c5"]]},{"id":"904a2231.cff","type":"mqtt out","z":"8b90473a.b3c068","name":"/FLKA/Steckdosen/Leiste01/Dose01/cmd/power","topic":"/FLKA/Steckdosen/Leiste01/cmd/power","qos":"","retain":"","broker":"7c29be25.85c4d","x":1060,"y":40,"wires":[]}]